
  
   h1 {
    font-size: 2.5em;
    color: black;
  } 
  
  .content-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    border: 5rem solid black;
  }

  .content-flexs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    border: 5rem solid black;
  }