p, section {
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
  }
  h1{
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;

  }
  

  .flexbox-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    box-sizing:border-box;
  
  }

  .content-items img{
    Height: 400px;
    width: 375px;
    padding: 0;
    margin: 0;
    float: left;
  }